 <!-- Classes Section -->
    <section class="success" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Classes</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This is where my classes stuff goes I think<p>
                </div>
                <div class="col-lg-4">
                    <p>Pretty sure. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>